spring:
  profiles:
    active: @activatedProperties@
    test: a
  web:
    resources:
      add-mappings: true
  mail:
    host: smtp.gmail.com            # Địa chỉ máy chủ SMTP
    port: 587                        # Cổng SMTP
    username: intercontinental999.ceo@gmail.com # Địa chỉ email người gửi
    password: ykzopwhmtjedsdhy          # Mật khẩu email người gửi
    properties:
      mail:
        smtp:
          auth: true                  # Sử dụng xác thực SMTP
          starttls:
            enable: true              # Sử dụng TLS
  task:
    scheduling:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 6LdbzFEpAAAAAAxfeii0kf8OFVKtmrzu6AUJcVnt
            client-secret: 6LdbzFEpAAAAAKAGlT-_OXlQx6DCHNKiL3SRVuYq

google:
  recaptcha:
    secret-key: 6LdbzFEpAAAAAKAGlT-_OXlQx6DCHNKiL3SRVuYq

vnpay:
  url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html  # URL của VNPAY
  merchant-id: your_merchant_id  # ID của Merchant
  access-key: your_access_key    # Access Key của Merchant
  secret-key: your_secret_key    # Secret Key của Merchant
  return-url: http://your-app-domain.com/payment/callback  # URL để nhận callback từ VNPAY
  cancel-url: http://your-app-domain.com/payment/cancel    # URL khi thanh toán bị hủy bỏ

slack:
  webhook:
    url: https://hooks.slack.com/services/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
